.App {
  text-align: center;
}

.p-4{
  background-color:  rgb(18, 34, 43);
  
}

.p-5{
  height:auto;
  background-color: rgba(141, 141, 185, 0.082);
}

.mb-4{
  margin-top: 25px;
}

.w-150{
  margin-top: 10px;
  margin-bottom: 20px;
}


.px-3{
  margin-left: 400px;
  font-size: 40px;
  font-weight: bold;
}


.px-5{
  margin-left: 300px;
}


.tb1{
  margin-top: 50px;
}


.text-white{
  height: 400px;
  width: 700px;
  align-items:center;
  margin-left: 350px;
  margin-top: 50px;

}

.my-5{
  margin-left: 200px;
  width: 350px;
}

.tb{
 
  margin-left: 50px;
  
}

.my-8{
  width: 85%;
  margin-left: 100px;
}

.p-8{
  background-color: rgb(18, 34, 43);;
  height:655px;
}

.px-8{
  margin-left: 400px;
}

.px-7{
  margin-left: 250px;
  font-size: 35px;
  font-weight: bold;
}

.badge{
  width: 150px;
  height: 40px;
  margin-top: 55px;
  margin-left: 170px;
  text-align: center;
  
}